* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  background-image: url("./weather.jpg");
  background-repeat: no-repeat;
}
.html:before {
  content: "";
  background-image: url("./weather.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

.homeText {
  font-size: 60px;
  text-align: center;
  padding: 2rem;
}
